@use '../abstracts' as *;

/*------------------------------------------------------------
    Base
------------------------------------------------------------*/
body {
  font-family: $en-fonts;
  font-size: 1.4rem;
  line-height: 1.5;
  color: $black;
  display: flex;
  flex-direction: column;

  @include sp {
    min-width: 320px;
  }
}

.sp-only {
  display: none;
}

@include sp {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}
