//baseWidth
$base-width: 900px;
$header-height: 80px;

$jp-fonts: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro',
  'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$en-fonts: 'Inter', sans-serif;
$secondary-font: "Noto Sans JP Bold", sans-serif;
//color common
$primary: #ede939;
$secondary: #002855;
$secondary-text: #000;
$color-title: #000;
$white: #fff;
$black: #051a2b;

